.navbar {
  display: flex;
  padding-left: 69.25px;
  padding-top: 32px;
  margin-bottom: 80px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  width: 45.95px;
  height: 45.95px;
}

@media screen and (max-width: 600px) {
  .logoImage {
    width: 26.26px;
    height: 26.26px;
  }
  
  .logoText {
    width: 79.19px;
    height: 9.76px;
  }
  
  .navbar {
    justify-content: center;
  }
}
