.footerContainer {
  padding: 32px 64px 64px 64px;
}

.line {
  border: 1px solid var(--gray-color);
  width: 100%;
  font-weight: 900;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  width: 45.95px;
  height: 45.95px;
}

.footerContent {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.copyright {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: left;
}

.socialLinks {
  display: flex;
  gap: 32px;
  font-size: 20px;
  line-height: 36px;
}

.email {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -1px;
  text-align: left;
  color: var(--red-color);
  text-decoration: underline;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .footerContent {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablet styles */
@media screen and (min-width: 857px) and (max-width: 1024px) {
  .footerContainer {
    padding: 32px 32px 48px 32px; /* Adjusted padding for tablet */
    display: flex;
    flex-direction: column;
  }

  .logoContainer {
    justify-content: center;
    margin-bottom: 20px; /* Optional: reduce margin for tablets */
  }

  .footerContent {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }

  .copyright {
    font-size: 16px;
    line-height: 24px;
  }

  .socialLinks {
    font-size: 16px;
    line-height: 24px;
    gap: 20px;
  }

  .email {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 856px) {
  .footerContainer {
    padding: 16px 16px 32px 16px;
    justify-content: center;
  }
  .logoContainer {
    justify-content: center;
  }

  .logoImage {
    width: 35.26px;
    height: 35.26px;
  }

  .logoText {
    width: 79.19px;
    height: 9.76px;
  }

  .footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }

  .copyright {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.2px;
    text-align: left;
    white-space: nowrap;
  }

  .socialLinks {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.20000000298023224px;
    white-space: nowrap;
    gap: 15px;
    flex-wrap: wrap;
  }

  .email {
    font-family: Instrument Sans;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.20000000298023224px;
    color: var(--red-color);
  }
}
